
.bar {
    display: inline-block;
    width: 20px;
    margin-right: 2px;
    background-color: teal;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

path {
    stroke: black;
    stroke-width: 2;
    fill: none;
}

line {
    stroke: black;
}

.hover-pointer:hover {
    cursor: pointer;
}

.threshold-label {
display: block;
    padding-left: 100px;
    font-size: 22px;
}
.enterActive {
    background-color: #dff0d8 !important;
    transition: background-color;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    transition: background-color 750ms ease-out;
}
.table-striped>tbody>tr {
    background-color: white;
    transition: background-color 750ms ease-out;
}
.row.metrics-row {
    margin-right: 0;
    margin-left: 0;
}
th div.col-lg-4, td div.col-lg-4 {
    padding-left: 0;
    padding-right: 0;
}
table.statuses.table td {
    border-top: none;
}
table.statuses.table th {
    border: none;

}



