version: '2'
services:
  swarm:
    image: {{ swarm_image }}
    restart: always
    command: join --advertise {{ my_ip }}:2375 consul://{{ my_ip }}:8500
    cpuset: {{ system_cpus if system_cpus is defined else 0 }}

  consul:
    image: {{ consul_image }}
    restart: always
    ports:
      - {{ my_ip }}:8300:8300
      - {{ my_ip }}:8400:8400
      - {{ my_ip }}:8500:8500
      - {{ my_ip }}:8600:8600
      - {{ my_ip }}:8600:8600/udp
      - {{ my_ip }}:8301:8301
      - {{ my_ip }}:8301:8301/udp
      - {{ my_ip }}:8302:8302
      - {{ my_ip }}:8302:8302/udp
    command: agent -server -rejoin -data-dir /data -ui -bind {{ my_ip }} -client {{ my_ip }} -bootstrap-expect 1
    network_mode: host
    cpuset: {{ system_cpus if system_cpus is defined else 0 }}

  swarmmanage:
    image: {{ swarm_image }}
    restart: always
    ports:
      - 2378:2375
    command: manage consul://{{ my_ip }}:8500
    cpuset: {{ system_cpus if system_cpus is defined else 0 }}

