.idea
*.iml
*.dSYM
.deps/
.cache/
.cache/*
.pytest_cache/
.pytest_cache/*
__pycache__/
__pycache__/*
.DS_Store
*.bc
*.ll
*.pyc
*.swp
Session.vim
fallor-readable.txt
fixish-readable.txt
sent.txt
received.txt
readable.txt
metrics-report.txt
.drone.sec.yml
test.t
tags

# error log files
*error.log
*error.dat

# partial compilation files
*.o

# make dependency fragments
*.d

#LaTeX files
*.lof
*.tex
*.aux
*.out
*.toc
*.log
*.bbl

#Stable files
.deps
.deps/*
