.idea
*.iml
*.dSYM
.deps/
.cache/
.cache/*
.DS_Store
*.bc
*.ll
*.pyc
fallor-readable.txt
fixish-readable.txt
sent.txt
received.txt
readable.txt
metrics-report.txt
.drone.sec.yml

# partial compilation files
*.o

# make dependency fragments
*.d

#LaTeX files
*.lof
*.tex
*.aux
*.out
*.toc
*.log
*.bbl

#Stable files
.deps
.deps/*
