.idea
*.iml
*.dSYM
.deps/
.cache/
.cache/*
.DS_Store
*.bc
*.ll
*.pyc
sent.txt
received.txt
.drone.sec.yml

# partial compilation files
*.o

#LaTeX files
*.lof
*.tex
*.aux
*.out
*.toc
*.log
*.bbl

#Stable files
.deps
.deps/*
