.bar_fill {
    fill: steelblue;
}
.bar {
    display: inline-block;
    width: 20px;
    margin-right: 2px;
    background-color: teal;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

path {
    stroke: black;
    stroke-width: 2;
    fill: none;
}

line {
    stroke: black;
}

.hover-pointer:hover {
    cursor: pointer;
}

.threshold-label {
display: block;
    padding-left: 100px;
    font-size: 22px;
}

.enterActive {
    background-color: #dff0d8 !important;
    transition: background-color;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    transition: background-color 750ms ease-out;
}
.table-striped>tbody>tr {
    background-color: white;
    transition: background-color 750ms ease-out;
}

.row.metrics-row {
    margin-right: 0;
    margin-left: 0;
}

th div.col-lg-4, td div.col-lg-4 {
    padding-left: 0;
    padding-right: 0;
}

table.statuses.table td {
    border-top: none;
}
table.statuses.table th {
    border: none;
}

table tbody.sources {
    border: none;
}
table.table tbody.sources td a,
table.applications tbody.applications tr td a {
    text-decoration: none;
}

table.table tbody tr.list-group-item-success {
    color: black;
}

div.panel-body h4 {
    padding: 0 15px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #2C3E50;
}

footer img {
    height: 30px;
}

footer span {
    color: white;
    vertical-align: bottom;
    margin: 0px 10px;
}

footer div.container, nav div.container {
    margin-bottom: 0px;
}

.container {
    margin-bottom: 60px;
}