/* Don't show ### level items in Table of Contents */
@media (min-width: 75em) {
  .doc-menu,[data-scrolldir=up] .doc-menu{position:fixed}
  .toc,[data-scrolldir=up] .toc{position:fixed}
}

#TableOfContents > ul > li > ul > li > ul > li {
  display: none;
}

@media (--breakpoint-large) {
  .full-width, pre.expand
  {
  /*width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;*/
  /*width: 60vw;*/
  /*position: relative;
  left: 50%;
  right: 50%;*/
  /*margin-left: -30vw;*/
  margin-right: -30vw;
  max-width: 100vw;
  }
}

/* documentation styles */
.note,
.warning {
  border-left-width: 4px;
  border-left-style: solid;
  position: relative;
  border-color: var(--primary-color);
  display: block;
}

.note #exclamation-icon,
.warning #exclamation-icon {
  fill: var(--primary-color);
  position: absolute;
  top: 35%;
  left: -12px;
}

.admonition-content {
  display: block;
  margin: 0px;
  padding: .125em 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow-x: auto;
  background-color: var(--black-05);
}

