/* documentation styles */
.note,
.warning {
  border-left-width: 4px;
  border-left-style: solid;
  position: relative;
  border-color: var(--primary-color);
  display: block;
}

.note #exclamation-icon,
.warning #exclamation-icon {
  fill: var(--primary-color);
  position: absolute;
  top: 35%;
  left: -12px;
}

.admonition-content {
  display: block;
  margin: 0px;
  padding: .125em 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow-x: auto;
  background-color: var(--black-05);
}

table {
  display: table;
  width: 100%;
  border: solid;
  border-collapse: collapse;
  border-width: .5px;
}

thead {
  color: black;
}

th {
  border-style: solid;
  border-color: gray;
  border-width: .5px;
}

td {
  border-style: solid;
  border-color: gray;
  border-width: .5px;
}